mat-card {
    width: 30%;
    margin: 10% auto;
    border-radius: 8px;
  }

  mat-form-field, mat-checkbox {
    width: 80%;
    display: block;
    margin: auto;
  }

  .login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }

  p {
    text-align: center;
  }

    p a {
      color: #673ab7;
      cursor: pointer;
      text-decoration: none;
    }
    mat-form-field {
      mat-error {
          display: none !important;
      }

      mat-error:first-child {
          display: block !important;
      }
  }
